# Used ccm version is tracked by cassandra-test branch in ccm repo. Please create a PR there for fixes or upgrades to new releases.
-e git+https://github.com/pcmanus/ccm.git@cassandra-test#egg=ccm
cqlsh
decorator
docopt
enum34
flaky
mock
pytest
pytest-timeout
parse
pep8
psutil
thrift==0.10.0
netifaces
beautifulsoup4
lxml
